.submit{
   
    color: slategray;
  
}
mat-radio-button{
    margin:0 5px;
    vertical-align: sub;
}
#radio-group-label{
    margin: 5px 5px 5px 0;
}
.mat-icon-button{
    color: #a0a68d !important;
    
}
.option:hover{
    cursor: pointer;
}
.mat-form-field{
    height: 50px;
  } 
  .mat-button-wrapper{
    color: #000 !important;
  }
  button, [mat-icon-button] {
      border: none;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #8e884f  !important;
  }